.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

:root {
  --hair-color: #3B7B1C;
  --clothes-color: #ffffff;
  --skin-color: #EF9258;
}

[data-theme="mario"] {
  --hair-color: #C66431;
  --clothes-color: #E93F36;
  --skin-color: #EF9258;
}

.character {

  .hat {
    height: 40px;
    width: 100%;
    .hat-0 {
      height: 20px;
      width: 100px;
      margin-left: 20px;
      background-color: var(--clothes-color);
    }

    .hat-1 {
      height: 20px;
      width: 180px;
      background-color: var(--clothes-color);
    }
  }
  .head {
    width: 100%;
    .head-0 {
      display: flex;
      height: 20px;
      .head-0-0 {
        background-color: var(--hair-color);
        width: 60px;
      }
      .head-0-1 {
        background-color: var(--skin-color);
        width: 40px;
      }
      .head-0-2 {
        background-color: var(--hair-color);
        width: 20px;
      }
      .head-0-3 {
        background-color: var(--skin-color);
        width: 20px;
      }
    }
    .head-1 {
      display: flex;
      height: 20px;
      .head-1-0 {
        background-color: var(--hair-color);
        width: 20px;
        margin-left: -20px;
      }
      .head-1-1 {
        background-color: var(--skin-color);
        width: 20px;
      }
      .head-1-2 {
        background-color: var(--hair-color);
        width: 20px;
      }
      .head-1-3 {
        background-color: var(--skin-color);
        width: 60px;
      }
      .head-1-4 {
        background-color: var(--hair-color);
        width: 20px;
      }
      .head-1-5 {
        background-color: var(--skin-color);
        width: 60px;
      }
    }
    .head-2 {
      display: flex;
      height: 20px;
      .head-2-0 {
        background-color: var(--hair-color);
        width: 20px;
        margin-left: -20px;
      }
      .head-2-1 {
        background-color: var(--skin-color);
        width: 20px;
      }
      .head-2-2 {
        background-color: var(--hair-color);
        width: 40px;
      }
      .head-2-3 {
        background-color: var(--skin-color);
        width: 60px;
      }
      .head-2-4 {
        background-color: var(--hair-color);
        width: 20px;
      }
      .head-2-5 {
        background-color: var(--skin-color);
        width: 60px;
      }
    }
    .head-3 {
      display: flex;
      height: 20px;
      .head-3-0 {
        background-color: var(--hair-color);
        width: 40px;
        margin-left: -20px;
      }
      .head-3-1 {
        background-color: var(--skin-color);
        width: 80px;
      }
      .head-3-2 {
        background-color: var(--hair-color);
        width: 80px;
      }
    }
    .head-4 {
      background-color: var(--skin-color);
      height: 20px;
      width: 140px;
      margin-left: 20px;
    }
  }
  
  .body {
    .body-0 {
      display: flex;
      height: 20px;
      .body-0-0 {
        background-color: var(--hair-color);
        width: 40px;
        // margin-left: 40px;
      }
      .body-0-1 {
        background-color: var(--clothes-color);
        width: 20px;
      }
      .body-0-2 {
        background-color: var(--hair-color);
        width: 60px;
      }
    }
    .body-1 {
      display: flex;
      height: 20px;
      .body-1-0 {
        background-color: var(--hair-color);
        width: 60px;
        margin-left: -20px;
      }
      .body-1-1 {
        background-color: var(--clothes-color);
        width: 20px;
      }
      .body-1-2 {
        background-color: var(--hair-color);
        width: 40px;
      }
      .body-1-3 {
        background-color: var(--clothes-color);
        width: 20px;
      }
      .body-1-4 {
        background-color: var(--hair-color);
        width: 60px;
      }
    }
    .body-2 {
      display: flex;
      height: 20px;
      .body-2-0 {
        background-color: var(--hair-color);
        width: 80px;
        margin-left: -40px;
      }
      .body-2-1 {
        background-color: var(--clothes-color);
        width: 80px;
      }
      .body-2-2 {
        background-color: var(--hair-color);
        width: 80px;
      }
    }
    .body-3 {
      display: flex;
      height: 20px;
      .body-3-0 {
        background-color: var(--skin-color);
        width: 40px;
        margin-left: -40px;
      }
      .body-3-1 {
        background-color: var(--hair-color);
        width: 20px;
      }
      .body-3-2 {
        background-color: var(--clothes-color);
        width: 20px;
      }
      .body-3-3 {
        background-color: var(--skin-color);
        width: 20px;
      }
      .body-3-4 {
        background-color: var(--clothes-color);
        width: 40px;
      }
      .body-3-5 {
        background-color: var(--skin-color);
        width: 20px;
      }
      .body-3-6 {
        background-color: var(--clothes-color);
        width: 20px;
      }
      .body-3-7 {
        background-color: var(--hair-color);
        width: 20px;
      }
      .body-3-8 {
        background-color: var(--skin-color);
        width: 40px;
      }
    }
    .body-4 {
      display: flex;
      height: 20px;
      .body-4-0 {
        background-color: var(--skin-color);
        width: 60px;
        margin-left: -40px;
      }
      .body-4-1 {
        background-color: var(--clothes-color);
        width: 120px;
      }
      .body-4-2 {
        background-color: var(--skin-color);
        width: 60px;
      }
    }
    .body-5 {
      display: flex;
      height: 20px;
      .body-5-0 {
        background-color: var(--skin-color);
        width: 40px;
        margin-left: -40px;
      }
      .body-5-1 {
        background-color: var(--clothes-color);
        width: 160px;
      }
      .body-5-2 {
        background-color: var(--skin-color);
        width: 40px;
      }
    }
    .body-6 {
      display: flex;
      height: 20px;
      .body-6-0 {
        background-color: var(--clothes-color);
        width: 60px;
        margin-right: 20px;
      }
      .body-6-1 {
        background-color: var(--clothes-color);
        width: 60px;
        margin-left: 20px;
      }
    }
    .body-7 {
      display: flex;
      height: 20px;
      .body-7-0 {
        background-color: var(--hair-color);
        width: 60px;
        margin-left: -20px;
        margin-right: 40px;
      }
      .body-7-1 {
        background-color: var(--hair-color);
        width: 60px;
        margin-left: 40px;
      }
    }
    .body-8 {
      display: flex;
      height: 20px;
      .body-8-0 {
        background-color: var(--hair-color);
        width: 80px;
        margin-left: -40px;
        margin-right: 40px;
      }
      .body-8-1 {
        background-color: var(--hair-color);
        width: 80px;
        margin-left: 40px;
      }
    }
  }
}